PORT=3001
NODE_ENV=development

JWT_KEY=your_jwt_secret_here

DEV_DB_USERNAME=postgres
DEV_DB_PASSWORD=postgres
DEV_DB_NAME=automacao_cy
DEV_DB_HOSTNAME=localhost
DEV_DB_DIALECT=postgres
DEV_DB_LOGGING=false

TEST_DB_USERNAME=postgres
TEST_DB_PASSWORD=postgres
TEST_DB_NAME=automacao_cy_test
TEST_DB_HOSTNAME=localhost
TEST_DB_DIALECT=postgres
TEST_DB_LOGGING=false

PROD_DB_USERNAME=postgres
PROD_DB_PASSWORD=postgres
PROD_DB_NAME=automacao_cy_prod
PROD_DB_HOSTNAME=localhost
PROD_DB_DIALECT=postgres
PROD_DB_LOGGING=false
